@font-face {
  font-family: Champagne Limousines;
  src: url(../../../fonts/ChampagneLimousines.woff2) format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: Champagne Limousines;
  src: url(../../../fonts/ChampagneLimousines-Bold.woff2) format("woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: Jost;
  src: url(../../../fonts/Jost-Bold.woff2) format("woff2");
  font-weight: bold;
  font-display: swap;
}
