.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 25%;
}
.logo__img {
  width: 30%;
}
@media (min-width: 320px) and (max-width: 576px) {
  .logo__img {
    width: 50%;
  }
}
.logo__title {
  font-family: Jost;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 576px) {
  .logo__title {
    font-size: 12px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .logo__title {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .logo__title {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .logo {
    margin-left: 50px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .logo {
    width: 23%;
  }
}

.global__nav-items {
  font-family: Champagne Limousines;
  font-size: 22px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 575px) {
  .global__nav-items {
    font-size: 14px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .global__nav-items {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .global__nav-items {
    font-size: 14px;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .global__nav-items {
    font-size: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .global__nav-items {
    font-size: 22px;
  }
}
.global__nav-items a {
  color: #000;
}
.global__icons-center {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.global__icons-around {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .global__icons-around {
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
  }
}
.global__icons_socials {
  fill: #0059ff;
  width: 24px;
}
.global__title {
  font-family: Jost;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 575px) {
  .global__title {
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .global__title {
    font-size: 32px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .global__title {
    font-size: 38px;
  }
}
.global__text {
  font-family: Champagne Limousines;
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 575px) {
  .global__text {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .global__text {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .global__text {
    font-size: 16px;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .global__text {
    font-size: 16px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .global__text {
    font-size: 16px;
  }
}

.header__burger-menu {
  border: 2px solid #000;
}
@media (max-width: 576px) {
  .header__burger-menu {
    margin: 0 1.5em;
  }
}

.manager {
  background: url(../../images/backgrounds/blue-bottom-full.webp) center/cover;
}
.manager__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em 2em 2em 0;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 50px 1px #737D8C;
}
@media (max-width: 1199px) {
  .manager__card {
    padding-left: 2em;
    gap: 20px;
  }
}
.manager__avatar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  text-align: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .manager__avatar {
    gap: 10px;
  }
}
.manager__img {
  margin-top: -80px;
  width: 100%;
}
@media (max-width: 768px) {
  .manager__img {
    margin-top: -50px;
  }
}
@media (max-width: 993px) {
  .manager__img {
    width: 50%;
  }
}
.manager__title {
  font-family: Champagne Limousines;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  background-color: #0059ff;
  border-radius: 20px;
}
.manager__text {
  padding: 0;
  text-align: justify;
}
.manager__text span {
  font-family: Champagne Limousines;
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 575px) {
  .manager__text span {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .manager__text span {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .manager__text span {
    font-size: 20px;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .manager__text span {
    font-size: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .manager__text span {
    font-size: 22px;
  }
}

.benefits {
  padding: 50px 0 100px 0;
}
.benefits__title {
  color: #17a2dd;
  margin-bottom: 25px;
}
.benefits .row {
  justify-content: center;
}
.benefits__card {
  height: 100%;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #17a2dd;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #737D8C;
  transition: all 0.3s;
}
.benefits__card-title {
  font-family: Champagne Limousines;
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 575px) {
  .benefits__card-title {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .benefits__card-title {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .benefits__card-title {
    font-size: 20px;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .benefits__card-title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .benefits__card-title {
    font-size: 22px;
  }
}
.benefits__card-img {
  width: 120px;
  height: 120px;
  padding: 12px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  border: 3px solid #2360b4;
  border-radius: 50%;
  transition: all 0.3s;
}
@media (min-width: 320px) and (max-width: 575px) {
  .benefits__card-img {
    width: 80px;
    height: 80px;
    top: 80%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .benefits__card-img {
    width: 100px;
    height: 100px;
    top: 80%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .benefits__card-img {
    width: 100px;
    height: 100px;
    top: 80%;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .benefits__card-img {
    width: 100px;
    height: 100px;
    top: 75%;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .benefits__card {
    padding: 60px 20px 80px 20px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .benefits__card {
    padding: 80px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .benefits__card {
    padding: 80px 20px;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .benefits__card {
    padding: 80px 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .benefits__card {
    padding: 80px 20px;
  }
}