@mixin champagneLimousinesFont($fs, $fw) {
  font-family: $champagneLimousinesFont;
  font-size: $fs;
  font-weight: $fw;
}

@mixin jostFont($fs, $fw) {
  font-family: $jostFont;
  font-size: $fs;
  font-weight: $fw;
}
