@import "./vars";
@import "./mixins";

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit !important;
}

.global {
  &__nav-items {
    @include champagneLimousinesFont(22px, 700);
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: 320px) and (max-width: 575px) {
      font-size: 14px;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 16px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 14px;
    }

    @media (min-width: 993px) and (max-width: 1199px) {
      font-size: 20px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
      font-size: 22px;
    }

    a {
      color: $blackColor;

      &:hover {
        color: $greyColor !important;
      }
    }
  }

  &__icons {
    &-center {
      display: flex;
      justify-content: center;
      gap: 50px;
    }

    &-around {
      display: flex;
      justify-content: space-around;

      @media (max-width: 768px) {
        justify-content: center;
        gap: 50px;
        padding-top: 20px;
      }
    }

    &_socials {
      fill: $ismaDarkBlueColor;
      width: 24px;
    }
  }

  &__title {
    @include jostFont(46px, 700);
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 320px) and (max-width: 575px) {
      font-size: 26px;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 32px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 38px;
    }
  }

  &__text {
    @include champagneLimousinesFont(16px, 700);

    @media (min-width: 320px) and (max-width: 575px) {
      font-size: 12px;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      font-size: 14px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 16px;
    }

    @media (min-width: 993px) and (max-width: 1199px) {
      font-size: 16px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
      font-size: 16px;
    }
  }
}
