@import "./vars";
@import "./mixins";

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 25%;

    &__img {
        width: 30%;

        @media (min-width: 320px) and (max-width: 576px) {
            width: 50%;
        }
    }

    &__title {
        @include jostFont(18px, 700);

        @media (min-width: 320px) and (max-width: 576px) {
            font-size: 12px;
        }

        @media (min-width: 577px) and (max-width: 768px) {
            font-size: 14px;
        }

        @media (min-width: 769px) and (max-width: 992px) {
            font-size: 16px;
        }
    }

    @media (min-width: 320px) and (max-width: 576px) {
        margin-left: 50px;
    }

    @media (min-width: 769px) and (max-width: 992px) {
        width: 23%;
    }
}

.header {
    background-color: $whiteColor;
    box-shadow: $boxShadow;
    position: sticky;
    top: 0;
    z-index: 10;

    &__burger-menu {
        border: 2px solid $blackColor;

        @media (max-width: 576px) {
            margin: 0 1.5em;
        }
    }
}
